/** 个人图书 **/

.person-book > h2 {
    margin: 16px auto 5px auto;

    font-size: 18px;
    font-weight: bold;

    color: #9c27b0;
}

.line-recommend-book {
    width: 600px;
    height: 1px;

    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
/*** 私人推荐 ***/
/*.person-book {
    float: right;

}*/
.person-recommend {
    display: none;
}
.person-recommend-book {
    float: left;

    list-style: none;

    margin-top: 0;
    padding: 0;
    width: 610px;
}

.person-recommend-book li {
    display: inline-block;

    margin: 15px 10px; 
    padding-left: 10px;
    width: 270px;
    height: 170px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.person-recommend-book li:hover {
    background-color: #e2e1e1;
}
.person-recommend-book li a {
    float: left;
     padding-left: 10px;
    padding-top: 10px;
}
.person-recommend-book li a img {
    width: 100px;
    height: 148px;
}
.person-recommend-book li div  h4,
.pperson-recommend-book li div p {
    margin: 13px 0;;
}
.person-recommend-book li div  h4 {
    cursor: pointer;
}
.person-recommend-book li div  h4:hover {
    color: #9c27b0;
}
.person-recommend-book li div p > i {
    font-size: 22px;
}
.person-recommend-book li div p:nth-child(2) {
    color: #e09015;
}
.person-recommend-book li div {
    width: 290px;
    padding-left: 124px;
}
/*** end 私人推荐 ***/
/*** 个人数据 ***/
.person-data {
    float: right;

    width: 590px;
    height: 440px;
}
/*** end 个人数据 ***/
/** end 个人图书 **/
