
/** 最受欢迎图书 **/
/*.popular-books {
    overflow: auto;
}*/
.popular-books > h2 {
    margin: 16px auto 5px auto;

    font-size: 18px;
    font-weight: bold;

    color: #9c27b0;
}

.line-popular-book {
    width: 1200px;
    height: 1px;

   background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.popular-books-table {
    list-style: none;

    margin-top: 0;
    padding: 0;
}

.popular-books-table li {
    display: inline-block;

    margin: 15px 10px;
    padding-right: 10px;
    width: 270px;
    height: 170px;
   box-shadow: 0 1px 4px rgba(0,0,0,0.4);

}
.popular-books-table li:hover {
    background-color: #e2e1e1;
}
.popular-books-table li a {
    float: left;

    padding-top: 10px;
    padding-left: 15px;
}
.popular-books-table li a img {
    width: 100px;
}
.popular-books-table li div  h4,
.popular-books-table li div p {
    margin: 13px 0;
}
.popular-books-table li div  h4 {
    cursor: pointer;
}
.popular-books-table li div  h4:hover {
    color: #9c27b0;
}
.popular-books-table li div p > i {
    font-size: 22px;
}
.popular-books-table li div p:nth-child(2) {
    color: #e09015;
}
.popular-books-table li div p:nth-child(5) {
    margin-top: 21px;
}
.popular-books-table li div {
    padding-left: 134px;
    width: 180px;
}
/** end 最受欢迎图书 **/
