 body {
        margin: 0;
    }


/**搜索结果**/
    .container {
        margin:120px auto;

        width: 1200px;

        background: white;
        /*box-shadow: 0 6px 15px rgba(36, 37, 38, .08);*/
        /*transition: box-shadow .25s ease, transform .25s ease;*/
    }

    .status {

    	font-size: 13px;
    	color:grey;
    }

    .in-container {
    	margin:30px auto;
    	padding: 0;
    }

	.in-container::after {
		content: "";
		display: block;
		clear:both;
	}

    /***加载的图片数***/
    .index {
    	display: none;
    }
	/***end***/

	.main-info {
		position: relative;
		display: inline-block;
		float:left;
		
		margin:10px;
		padding-top:10px;
		width:180px;

		background-color: #f3f3f3;
		text-align: center;
	}
	

	.main-info img {
		margin-right: 5px;
		padding-top:10px;
		height:198px;

		vertical-align:top;
	}

	.triangle {
		position: absolute;
		top:0;
		right:0;

		border-bottom: 35px solid #e2e2e1;
		border-right: 35px solid #fff;
	}

	.main-info::before {
		content:"";
		display: block;
		position: absolute;
		top:0;
		right:0;

		border-bottom: 35px solid #e2e2e1;
		border-right: 35px solid #fff;
		width: 0;
		height: 0;
	}

	.main-info:hover::before {
		opacity: 0;
	}

	/*.main-info:hover {
		background-color: #ffffff;
	}*/

	.book-name {
		margin:0;

		font-size: 18px;
		font-weight: bold;

	}
	
	.book-writer {
		font-size: 12px;
	}

    .evaluate {
    	margin:15px auto;
    	width:80px;
    	height:16px;

    	background: url(../images/star_off.png);
    	background-position: center;
    }

    .evaluate .on {
		width:70.4px;
		height:16px;

		background: url(../images/star_on.png);
    }

    .isbn {
    	display: none;
    }
/**end 搜索结果**/

/** 弹出的简介 **/
.simple-info {
	position: absolute;
	display: none;

	border:1px solid #d6cec3;
	padding:10px 20px;
	width:400px;

	color:#676666;

	background-color:#fffdf7;

	z-index: 102;

}

.simple-info p {	
	margin:10px 0;

	font-size:13px;
	text-align: left;
	
}

.simple-info a {
	display: inline-block;

	border-radius: 5px;
	margin:25px 0;
	padding:5px;
	
	text-decoration: none;
}

.simple-info a:visited, .simple-info a:link {
	color:grey;
	border: 0.2px solid grey;
}

.simple-info a:hover, .simple-info a:active {
	color:#bbb7b7;
	border: 0.2px solid #bbb7b7;
}
/** end弹出的简介 **/