 body {
        margin: 0;
        background-color: #f6f6f6;
    }
/**导航**/
	#search {
		display: block;
		float: right;

		margin:11px 20px;
		border:0.1px solid #d4d2d2;
		border-radius: 3px;
		padding: 0 0 0 5px;
		width:300px;
		height:39px;
       
        outline-color: #8bc24a; 

		background: #f6f6f6;

	}

	.button {
		display: inline-block;
		position: relative;
		top:16px;
		left:780px;

		border:none;
		width:32px;
		height:32px;

		outline: none;
		cursor: pointer;

		background: url(../images/search.png);

	}
/**end 导航**/

/**搜索结果**/
    .container {
		margin: 80px auto 0;
		padding:20px 0;
        width: 1200px;
        height: 1600px;
        background: white;
        box-shadow: 0 6px 15px rgba(36, 37, 38, .08);
        transition: box-shadow .25s ease, transform .25s ease;
    }

    .in-container {
    	width:1050px;
    	margin:30px auto;
    }

    .status {
    	margin-left: 20px;

    	font-size: 13px;
    	color:grey;
    }
	
	.main-info {
		position: relative;
		display: inline-block;
		float:left;
		
		margin:15px;
		padding-top:10px;
		width:180px;

		background-color: rgba(139, 194, 74, .1);
		text-align: center;
	}
	

	.main-info img {
		margin-right: 5px;
		height:198px;

		vertical-align:top;
	}

	.main-info::before {
		content:"";
		display: block;
		position: relative;
		top:-10px;
		left:145px;

		border-bottom: 35px solid #e3efd4;
		border-right: 35px solid #fff;
		width: 0;
		height: 0;
	}

	.main-info:hover::before {
		opacity: 0;
	}
	
	.triangle {
		position: relative;
		top:-10px;
		left:145px;

		border-bottom: 35px solid #e3efd4;
		border-right: 35px solid #fff;
		width: 0;
		height: 0;

		cursor: pointer;
	}

	.book-name {
		margin:0;

		font-size: 18px;
		font-weight: bold;

	}
	
	.book-writer {
		font-size: 12px;
	}

    .evaluate {
    	margin:15px auto;
    	width:80px;
    	height:16px;

    	background: url(../images/star_off.png);
    	background-position: center;
    }

    .evaluate .on {
		width:70.4px;
		height:16px;

		background: url(../images/star_on.png);
    }
/**end 搜索结果**/